<div id="wrap">
  <div class="container" style="margin-top: 30px;">
  	<div class="row">
  		<div class="col-md-3">
				<%= image_tag @user.avatar.url(:medium), :class => "img-circle", :size => "200x200" %>
				<br /><br />
				<h4 style="color: #fff; font-weight: bold"><%= @user.username.upcase %></h4>
				<p style="color: #bdc3c7; margin-top: -10px;">(<%= @user.name %>)</p>
				<p style="color: #fff;"><%= @user.description %></p>
				<p style="color: #fff;"><i>Joined <%= @user.created_at.strftime("%B %Y") %></i></p>
			</div>
			<div class="col-md-8" style="color: #fff;">
			<% if @bolt.last.blank? %>
				<% if current_user == @user %>
					<h1>You haven't posted a Bolt yet. What's wrong with you? <%= link_to "Get started here", new_bolt_path %>.</h1>
				<% else %>
					<h1><%= @user.name %> hasn't posted a Bolt yet. How lame.</h1>
				<% end %>
			<% else %>
				<h5>
					<%= @bolt.last.votes_for.sum(:vote_weight) %> Claps
					&bull;
					<% if @bolt.last.updated_at == @bolt.last.created_at %>
						Posted <%= short_age_string(@bolt.last.created_at) %>
					<% else %>
						Updated <%= short_age_string(@bolt.last.updated_at) %>
					<% end %>
				</h5>
				<h1>
					<%= @bolt.last.description %>
				</h1>
				<small>
					<%= link_to clap2_bolt_path(@bolt.last), method: :put do %>
	          <%= image_tag('clap.png', :size => "20x20") %>
	          <%= image_tag('clap.png', :size => "20x20") %> 2 Claps
	        <% end %>
	        &nbsp; &nbsp; &nbsp;
	        <%= link_to clap1_bolt_path(@bolt.last), method: :put do %>
	          <%= image_tag('clap.png', :size => "20x20") %> 1 Clap
	        <% end %>
	        &nbsp; &nbsp; &nbsp;
	        <%= link_to clap0_bolt_path(@bolt.last), method: :put do %>
	          <%= image_tag('no.png', :size => "20x20") %>
	          No Claps
	        <% end %>
         </small>
			</div>
			<% end %>
  	</div>
	</div>
</div>