<!-- CAROUSEL -->
<div class="carousel slide" style="margin-top: -20px;">
  <div class="carousel-inner">
    <div class="item bg bg1 active">
      <div class="container">
        <div class="carousel-caption">
          <%= image_tag "logo-1000px.png", :size => "400x190", :class => "img-responsive", :style => "margin: 0 auto;" %>
          <hr width="10%" style="margin-top:50px; margin-bottom: 50px;">
          <h1>CHOOSE A TEAM. MAKE NOISE.</h1>
          <hr width="10%" style="margin-top:50px; margin-bottom: 50px;">
          <% if user_signed_in? %>
          
          <% else %>
            <%= link_to "SIGN UP", "/users/sign_up", :class => "btn btn-lg btn-primary", :style => "border-radius: 50px;" %>
            <br /><br />
            <p><i>or</i> <%= link_to "LOG IN", new_user_session_path, :style => "color: #fff;" %></p>
          <% end %>
          <p><small><%= link_to "Learn more", "#intro", :style => "color: #fff;" %></small></p>
          <%= link_to "#intro", :style => "color: #fff;" do %>
            <span class="fa fa-hand-o-down" style="font-size: 2em;"></span>
          <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container" id="intro">
  <div class="row" style="margin-top: 30px;">
    <div class="col-md-4 center">
      <%= image_tag "pickaside.jpg", :class => "img-circle" %>
      <h3>PICK A SIDE</h3>
      <p style="padding-left: 20px; padding-right: 20px; color: #7f8c8d;">Choose Hot Dogs or Melany. It doesn't matter which side you choose.</p>
    </div>
    <div class="col-md-4 center">
      <%= image_tag "makenoise.jpg", :class => "img-circle" %>
      <h3>MAKE NOISE</h3>
      <p style="padding-left: 20px; padding-right: 20px; color: #7f8c8d;">Write a big, loud, <i>anonymous</i> message (called a Bolt) that disappears after you post a new one.</p>
    </div>
    <div class="col-md-4 center">
      <%= image_tag "clapclap.jpg", :class => "img-circle" %>
      <h3>CLAP CLAP</h3>
      <p style="padding-left: 20px; padding-right: 20px; color: #7f8c8d;">Give two, one, or zero Claps to acknowledge other people's Bolts.</p>
    </div>
  </div>
</div>