<!-- CAROUSEL -->
<div class="carousel slide">
  <div class="carousel-inner">
    <div class="item bg bg1 active">
      <div class="container">
        <div class="carousel-caption">
        	<%= image_tag "logo-1000px.png", :size => "500x238"  %>
          <h1><b>CHOOSE A TEAM. MAKE NOISE.</b></h1>
          <span class="fa fa-hand-o-down" style="font-size: 2em;"></span>
      </div>
    </div>
  </div>
</div>
<div class="container" style="color: #fff;">
  <div class="row" style="margin-top: 30px;">
    <div class="col-md-4 center">
      <%= image_tag "pickaside.jpg", :class => "img-circle" %>
      <h3>PICK A SIDE</h3>
    </div>
    <div class="col-md-4 center">
      <%= image_tag "makenoise.jpg", :class => "img-circle" %>
      <h3>MAKE NOISE</h3>
    </div>
    <div class="col-md-4 center">
      <%= image_tag "clapclap.jpg", :class => "img-circle" %>
      <h3>CLAP CLAP</h3>
    </div>
  </div>
</div>

<!-- NAVBAR -->
<div class="nav-wrapper">
  <div class="nav navbar navbar-default affix" data-spy="affix" data-offset-top="50">
    <%= render 'layouts/header' %>
	</div>
</div>