<div class="container">
	<div class="navbar-header">
  	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
	    <span class="sr-only">Toggle navigation</span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
 		</button>
    <%= link_to image_tag("logo-1000px.png", :size => "85x40", :style => "margin-top: 10px;"), root_path %>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse navbar-ex1-collapse">
  	<ul class="nav navbar-nav navbar-right">
      <li style="margin-top: 5px;"><%= link_to "Stream", bolts_path %></li>
      <li style="margin-top: 5px;"><%= link_to "Data", "#" %></li>
      <li style="margin-top: 5px;"><%= link_to "About", about_path %></li>
    	<% if user_signed_in? %>
        <li>
          <%= link_to new_bolt_path do %>
            <span class="fa-stack fa-lg">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-bolt fa-stack-1x" id="spin" style="margin-top: -2px;"></i>
            </span>
          <% end %>
        </li>
        <li class="dropdown">
          <%= link_to image_tag(current_user.avatar.url(:thumb), :size => "30x30", :class => "img-circle") + content_tag(:span, nil, :class => "caret"), "#", :class => "dropdown-toggle", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Profile", current_user %></li>
            <li class="divider"></li>
            <li><%= link_to "Account Settings", edit_user_registration_path %></li>
            <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
    	<% else %>
    		<li style="margin-top: 5px;"><%= link_to "Sign In", new_user_session_path %></li>
    	<% end %>
  	</ul>
	</div><!-- /.navbar-collapse -->
</div>

<script>
  $('#spin').hover(
    function(){ $(this).addClass('fa-spin') },
    function(){ $(this).removeClass('fa-spin') }
  )
</script>