<div id="wrap">
  <div class="container" style="margin-top: 30px;">
    <% @all_users.each do |all_user| %>
      <div class="row" style="color: #fff;">
        <div class="col-md-1">
          <%= image_tag(@user.avatar.url(:thumb), :size => "50x50", :class => "img-circle") %>
        </div>
        <div class="col-md-11">
          <div class="row">
            <h3><%= @bolts.last.description %></h3>
          </div>
          <div class="row">
            <%= @bolts.last.user.username %>
            <% if @bolts.last.updated_at == @bolts.last.created_at %>
            Posted on <%= @bolts.last.created_at.strftime("%b %d") %>
          <% else %>
            Updated on <%= @bolts.last.updated_at.strftime("%b %d") %>
          <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>