<div id="wrap">
  <div class="container" style="margin-top: 30px;">
  
    <% @bolts.each do |bolt| %>
      <div class="row" style="color: #fff; margin-bottom: 15px;">
        <div class="col-md-1">
          <div class="row">
            <div class="col-md-12">
              <%= link_to image_tag(bolt.user.avatar.url(:thumb), :size => "50x50", :class => "img-circle"), bolt.user %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 center">
              <h4><%= bolt.votes_for.sum(:vote_weight) %></h4>
            </div>
          </div>
        </div>
        <div class="col-md-11">
          <div class="row">
            <%= link_to bolt.user.username, bolt.user %>
            &bull;
            <% if bolt.updated_at == bolt.created_at %>
              <%= short_age_string(bolt.created_at) %>
            <% else %>
              <%= short_age_string(bolt.created_at) %>
              &bull; Edited
            <% end %>
            <% if current_user && bolt.user == current_user %>
              &bull;
              <%= link_to edit_bolt_path(bolt) do %>
              <span class="glyphicon glyphicon-edit"></span>
              Edit
              <% end %>
            <% end %>
          </div>
          <div class="row">
            <h3><%= bolt.description %></h3>
          </div>
          <div class="row small">
            <%= link_to like2_bolt_path(bolt), method: :put do %>
              <%= image_tag('clap.png', :size => "20x20") %>
              <%= image_tag('clap.png', :size => "20x20") %> 2 Claps
            <% end %>
            &nbsp; &nbsp;
            <%= link_to like_bolt_path(bolt), method: :put do %>
              <%= image_tag('clap.png', :size => "20x20") %> 1 Clap
            <% end %>
            &nbsp; &nbsp;
            <%= link_to like0_bolt_path(bolt), method: :put do %>
              <%= image_tag('no.png', :size => "20x20") %>
              No Claps
            <% end %>
          </div>
        </div>
      </div>
      <hr>

    <% end %>
  </div>
</div>