<div id="wrap">
  <div class="container" style="margin-top: 30px;">
    <% @users.each do |user| %>
      <% next if user.bolts.empty? %>
      <div class="row" style="margin-bottom: 15px;">
        <div class="col-md-1">
          <div class="row">
            <div class="col-md-12 center">
              <%= link_to image_tag(user.avatar.url(:thumb), :size => "50x50", :class => "img-circle"), user %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 center">
              <h4>
                <%= user.bolts.last.votes_for.sum(:vote_weight) %>
                <!--<%= link_to user.bolts.last.votes_for.sum(:vote_weight), "#", "data-toggle" => "modal", "data-target" => ".bs-example-modal-sm", :data => {:voterUsername => user.bolts.last.get_upvotes.each} %>-->
              </h4>
            </div>
          </div>
        </div>
        <div class="col-md-11">
          <div class="row">
            <div class="col-md-12">
              <%= link_to user.username, user %>
              <small>
                <% if user.bolts.last.updated_at == user.bolts.last.created_at %>
                  <%= short_age_string(user.bolts.last.created_at) %>
                <% else %>
                  <%= short_age_string(user.bolts.last.created_at) %>
                  &bull; Edited
                <% end %>
                <% if user == current_user %>
                  &bull;
                  <%= link_to edit_bolt_path(user.bolts.last) do %>
                    <span class="fa fa-edit"></span>
                    Edit
                  <% end %>
                <% end %>
              </small>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h2 style="margin-top: 10px;">
                <%= truncate(user.bolts.last.description, :length => 300) %>
                <% if user.bolts.last.description.length > 300 %>
                  <small><%= link_to "(Read More)", user %></small>
                <% end %>
              </h2>
            </div>
          </div>
          <div class="row small" style="margin-top: 10px;">
            <div class="col-md-12">
              <%= link_to clap2_bolt_path(user.bolts.last), method: :put do %>
                <%= image_tag('clap.png', :size => "20x20") %>
                <%= image_tag('clap.png', :size => "20x20") %> 2 Claps
              <% end %>
              &nbsp; &nbsp; &nbsp;
              <%= link_to clap1_bolt_path(user.bolts.last), method: :put do %>
                <%= image_tag('clap.png', :size => "20x20") %> 1 Clap
              <% end %>
              &nbsp; &nbsp; &nbsp;
              <%= link_to clap0_bolt_path(user.bolts.last), method: :put do %>
                <%= image_tag('no.png', :size => "20x20") %>
                No Claps
              <% end %>
              <!--
              &nbsp; &nbsp; &nbsp;
              <%= link_to removeclap_bolt_path(user.bolts.last), method: :put do %>
                Remove Claps
              <% end %>-->
            </div>
          </div>
          <div class="row" style="margin-top: 10px;">
            <div class="col-md-12">
              <% user.bolts.last.votes_for.voters.each do |user_voted| %>
                <%= link_to (image_tag user_voted.avatar.url(:thumb),:size => "20x20", :class => "img-circle", :title => user_voted.username), user_voted %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <hr style="margin-top: -10px;">
    <% end %>
  </div>
</div>

<!-- Small modal -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <p id="voterUsername"></p>
    </div>
  </div>
</div>